{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Open+Sans:ital@1&family=Raleway:ital,wght@0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>tron website</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">
                    <img src="{% static 'images/logo.png'%}" alt="logo">
                </div>
                <nav class="nav">
                    <a href="#aboutme" class="nav__link">about</a>
                    <a href="#works" class="nav__link">Works</a>
                    <a href="#project" class="nav__link">projects</a> 
                    <a href="#test" class="nav__link">test</a> 
                    <a href="#contacts" class="nav__link">contacts</a> 
                </nav>
                
                <!-- <div class="menu">main</div>  -->
            </div>
        </div>
    </header>
    <div class="intro">
        <div class="container">
            <div class="intro__inner">
                <div data-aos="flip-down">

                <div class="intro__title"><h1>U are a jjba</h1></div>
                <h2 class="intro-subt">i love codding</h2>
                <a href="#" class="btn btn--red">More read</a>
            </div>
        </div>
</div>
</div>
    <div id="test" class="container">
        <div class="features">
            <div class="features__item">
                <div data-aos="fade-up"
                data-aos-duration="3000">

                <img class="f_icon" src="{% static 'images/assas.png'%}" alt="">
                <h4 class="f_title">описание</h4>
                <div class="f_text">Я пока не знаю что писать о моя Лень как всЕгда беРет победу нАдо мною.</div>

            </div>
        </div>
    </div>
</div>
<div id="works" class="works">
    <div class="works__item">
        <div class="works__items">
            <div data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000">
</div>
            <img class="works__photo" src="https://www.polytechnique.edu/sites/all/institutionnel/startup-code-ecole-polytechnique-x.jpg" alt="">
            <div class="work__content">           
            <div class="works__tittle">Project name</div>
            <div class="works__text">lorem ipsum</div>
        </div>
    </div>
    </div> 
        <div class="works__item">
            <div class="works__items">
                <img class="works__photo" src="https://www.polytechnique.edu/sites/all/institutionnel/startup-code-ecole-polytechnique-x.jpg" alt="">
                <div class="work__content">           
                <div class="works__tittle">Project name</div>
                <div class="works__text">lorem ipsum</div>
            </div>
        </div>
        </div>
        <div class="works__item">
            <div class="works__items">
                <img class="works__photo" src="https://www.polytechnique.edu/sites/all/institutionnel/startup-code-ecole-polytechnique-x.jpg" alt="">
                <div class="work__content">           
                <div class="works__tittle">Project name</div>
                <div class="works__text">lorem ipsum</div>
            </div>
        </div>
        </div>
        <div class="works__item">
            <div class="works__items">
                <img class="works__photo" src="https://www.polytechnique.edu/sites/all/institutionnel/startup-code-ecole-polytechnique-x.jpg" alt="">
                <div class="work__content">           
                <div class="works__tittle">Project name</div>
                <div class="works__text">lorem ipsum</div>
            </div>
        </div>
        </div>
        <div class="works__item">
            <div class="works__items">
                <img class="works__photo" src="https://www.polytechnique.edu/sites/all/institutionnel/startup-code-ecole-polytechnique-x.jpg" alt="">
                <div class="work__content">           
                <div class="works__tittle">Project name</div>
                <div class="works__text">lorem ipsum</div>
            </div>
        </div>
        </div>

        <div class="works__item">
            <div class="works__items">
                <img class="works__photo" src="https://www.polytechnique.edu/sites/all/institutionnel/startup-code-ecole-polytechnique-x.jpg" alt="">
                <div class="work__content">           
                <div class="works__tittle">Project name</div>
                <div class="works__text">lorem ipsum</div>
            </div>
        </div>
        </div>
        <div class="works__item">
            <div class="works__items">
                <img class="works__photo" src="https://www.polytechnique.edu/sites/all/institutionnel/startup-code-ecole-polytechnique-x.jpg" alt="">
                <div class="work__content">           
                <div class="works__tittle">Project name</div>
                <div class="works__text">lorem ipsum</div>
            </div>
        </div>
        </div>
        <div class="works__item">
            <div class="works__items">
                <img class="works__photo" src="https://www.polytechnique.edu/sites/all/institutionnel/startup-code-ecole-polytechnique-x.jpg" alt="">
                <div class="work__content">           
                <div class="works__tittle">Project name</div>
                <div class="works__text">lorem ipsum</div>
            </div>
        </div>
        </div>
</div>

<div id="project" class="project">
    <div class="project__inner">
        <div class="project_item">
            <img class="project__photo" src="https://cdnb.artstation.com/p/assets/images/images/031/315/519/medium/ctiahao-fischl-genshin-impact-by-ctiahao.jpg?1603277773" alt="f">
                <div class="project__name">
                    Это моя вайфу Фишль
            </div>
            <div class="project__prof">
                <p>Ей 15 лет</p>
            <div class="project__text">    
                <p>А не....... 18 лет:")</p>
            </div>
            </div>
        </div>
        <div class="project_item">
            <img class="project__photo" src="https://static.zerochan.net/Barbara.%28Genshin.Impact%29.full.3099399.jpg" alt="s">
                <div class="project__name">
                    А это Барбара :D
            </div>
            <div class="project__prof">
                <p>Ей 16............. лет</p>
            <div class="project__text">    
                <p>Ну а Барбара тож ничё так</p>
            </div>
            </div>
        </div>
        <div class="project_item">
            <img class="project__photo" src="https://cdnb.artstation.com/p/assets/images/images/031/315/519/medium/ctiahao-fischl-genshin-impact-by-ctiahao.jpg?1603277773" alt="a">
                <div class="project__name">
                    Это моя вайфу Фишль
            </div>
            <div class="project__prof">
                <p>Ей 15 лет</p>
            <div class="project__text">    
                <p>А не....... 18 лет:")</p>
            </div>
            </div>
        </div>
    </div>
</div>

<div id="aboutme" class="aboutme">
    <div class="container">
        <div class="aboutme__item">
            <div class="aboutme__photo">
                <div data-aos="zoom-in-right">

                <img class="aboutme__img" src="{% static 'images/yes.jpg'%}" alt="myphoto">
                </div>
            </div>
            <div class="aboutme__contant">
                <div class="aboutme__text">Добрый вечер уважаемый чел, того кого вы видите этого красавца зовут Нурбек, он не узбек, может подарить чебурек, и за это подарит кэшбек</div>
                <div class="aboutme__author">да да это странно но да.</div>
            </div>
        </div>
    </div>
</div>

<div id="contacts" class="contact">
    <div class="container">
        <h3 class="d__title">
            <div style="text-align: center;" data-aos="fade-up"
                data-aos-duration="3000">

            <p>ахахахахаххахахахахахахахахахахахахахахахахахахахаха</p>
        </h3>
        <div style="text-align: center;" data-aos="fade-up"
        data-aos-duration="3000">
        
        <form action="fromMessage" method="POST">
            {%csrf_token%}
            <input style="width: 300px; height: 30px;" type="email" placeholder="Email" name="email">
            <br>
            <br>
            <input style="width: 300px; height: 30px;" type="text" placeholder="Phone number" name="phone_number">
            <br>
            <br>
            <textarea style="width: 300px;" name="message" cols="30" rows="5" placeholder="Message"></textarea>
        </form>
            <br>
            <br>

            <button class="btn btn--red btn--long"
            href="">Send</button>
        
        
        
        <div class="d__text">амогус сус из сус ама верри кул муз</div>
        <a class="btn btn--red btn--long" target="_blank" href="https://t.me/Cervew">cum with me</a>
    </div>
</div>
</div>
</div>
<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__block">
                <h4 class="footer__tittle">
                    мой спавн
                </h4>
            <address class="footer__address">задница мира
            <div>ьекьеьеьеь</div>
            </address>
        </div>
        <div class="footer__block">
            <h4 class="footer__tittle">
                мой спавн
            </h4>
        <address class="footer__text">задница мира
        <div>ьекьеьеьеь</div>
        </address>
    </div>

    <div class="footer__block">
        <h4 class="footer__tittle">
            мой спавн
        </h4>
    <address class="footer__text">задница мира
    <div>ьекьеьеьеь</div>
    </address>
</div>

            
        </div>
    </div>


<div class="copyright">
    <div class="copyright__text">
        <div>Copyright MI. All rights reserved</div>
        <div>made<span>MI</span></div>
    </div>
</div>
</footer>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
    AOS.init();
</script>

</body>
</html>
